@import url('https://fonts.googleapis.com/css2?family=Outfit');
/* @import url('https://fonts.googleapis.com/css?family=Hanuman'); */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navbar-toggler {
  border: none;
}

/* Main About Page */

.intro-paragraph {
  font-size: 20px;
}

.homepage-image {
  width: 10rem;
  height: 15rem;
}

.horizontal-line {
  height: 2px;
  background-color: #E2E2E2;
  width: 100%;
}

.about-h2, .about-h3 {
  font-size: 16px;
}

.about-h3-link {
  color: black;
}

/* Custom Markdown Styling */

.custom-blockquote {
  background: #f9f9f9;
  border-style: none none none solid;
  padding-left: 1rem;
  border-width: .25rem;
}

/* When going to a medium sized screen and up */
@media (min-width: 768px) {
  .intro-paragraph {
    font-size: 36px;
  }
  .homepage-image {
    width: 20rem;
    height: 30rem;
  }
}

/* Listings */

.eyebrow-text {
  font-size: 12px;
  text-decoration: none;
}

/* Creations */

.creations-img {
  max-height: 14rem;
  width: 100%;
  object-fit: contain;
}

.image-placeholder {
  width: 100%;
  height: 14rem;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #888;
}